<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PokeMe.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6D41716025D6B8B400D2B8B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D41717925D6B8B500D2B8B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D41718425D6B8B500D2B8B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
